

.container {
  max-width: 1120px;
  width: 80%;
  display: block;
  margin: 0 auto;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.container .row .youtube_video {
  width: 60%;
  background-color: #000;
  position: relative;
  padding-bottom: 33.25%;
  height: 0;
}

.container .row .youtube_video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container .row .details {
  width: 38%;
  padding-left: 20px;
}

.container .row .details span {
  font-size: 25px;
  font-family: sans-serif;
}


.container .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .gallery .item {
  width: calc(96% / 4);
  position: relative;
}

.container .gallery .item img {
  width: 100%;
  display: block;
}

.container .gallery .item .youtube_icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.container .gallery .item .youtube_icon:hover {
  background-color: rgba(0, 0, 0, 0);
}

.container .gallery .item .youtube_icon.active {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

.container .gallery .item .youtube_icon.active img {
  opacity: 0;
}

.container .gallery .item .youtube_icon img {
  width: 50px;
}


/* Responsive */

@media screen and (max-width: 768px){
  :root {
    --padding--container: 42px 0;
    --paragraph--texts: #fff;
    --title--texs: #175183;
  }
  .container .row{
    display: block;
  }
  .container .row .youtube_video {
    width: 100%;
    height: 345px;
  }
  .container .row .details {
    width: 100%;
    margin-top: 3%;
    padding-left: 0px;
  } 
  .details .tiktok__title {
    margin-bottom: 0px;
  }
  .details .texto-recorrido {
    width: 100%;
    text-align: center;
  }
  .container .gallery {
    display: block;
    padding-left: 11%;
  }
  .container .gallery .item {
    width: 43%;
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    position: relative;
}
 
}

@media screen and (max-width: 430px){
  :root {
    --padding--container: 42px 0;
    --paragraph--texts: #fff;
    --title--texs: #175183;
  }
  .container .row{
    display: block;
  }
  .container .row .youtube_video {
    width: 100%;
    height: 191px;
  }
  .container .row .details {
    width: 100%;
    text-align: center;
    margin-top: 3%;
    padding-left: 0px;
  } 
  .details .tiktok__title {
    margin-bottom: 0px;
  }
  .details .texto-recorrido {
    width: 100%;
    text-align: center;
  }
  .container .gallery {
    display: block;
    padding-left: 3%;
  }
  .container .gallery .item {
    width: 47%;
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    position: relative;
  }
  .boton_bitacora .Post-link {
  width: 70%;
  }
 
}