* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.post-list {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  max-width: 1000px;
  margin: auto;
}

.post-img-1 {
  background-image: url(../img/Nota-1.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
}

.post-img-2 {
  background-image: url(../img/Nota-2.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .2s;
  }

  .post-img-3 {
    background-image: url(../img/Nota-3.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    }

    .post {
      box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
      overflow: hidden;
      transition: 0.2s;
    }

    .post:hover {
      transform: translateY(-4px);
      box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
    }

    .post-header {
      width: 100%;
      height: 200px;
      overflow: hidden;
      cursor: pointer;
    }

    .post:hover .post-img-1,
    .post:hover .post-img-2,
    .post:hover .post-img-3 {
      transform: scale(1.1);
    }

    .Post-body {
      padding: 15px;
      text-align: center;
    }

    .Post-body p {
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .Post-body .Post-link {
      display: block;
      text-decoration: none;
      padding: 10px;
      background: #5c0073;
      color: #fff;
      width: 50%;
      margin: auto;
      border-radius: 20px;
      box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
      transition: .2s;
    }

    .Post-body .Post-link:hover {
      background: #750a90;
      box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
      transform: translateY(-2px);
    }

    @media (max-width:840px) {
      .content {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width:600px) {
      .content {
        grid-template-columns: repeat(1, 1fr);
      }
    }