 
  html {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    
  }
  
 
  
 
  
  /*  fondo start   */
  
  .slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    
    background-size: 100% 100vh;
    display: flex;
    flex-direction: row;
    width: 700vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .s-1{
      margin-top: 10%;
  }
  .one {
    
    background:linear-gradient(90deg, rgba(56, 55, 55, 0.281) 0%, rgba(15, 15, 15, 0.384) 100%), url('img/p1.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }
  .two {
    
    background: linear-gradient(90deg,rgba(15, 15, 15, 0.384) 100% ,rgba(56, 55, 55, 0.281) 0% ), url('img/p2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .three {
    
    background: linear-gradient(90deg,rgba(15, 15, 15, 0.384) 100% ,rgba(56, 55, 55, 0.281) 0% ), url('img/p4.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .four {
   
    background: linear-gradient(90deg,rgba(15, 15, 15, 0.384) 100% ,rgba(56, 55, 55, 0.281) 0% ), url('img/p5.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .five {
    
    background: linear-gradient(90deg,rgba(15, 15, 15, 0.384) 100% ,rgba(56, 55, 55, 0.281) 0% ), url('img/p6.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .six {
    
    background: linear-gradient(90deg,rgba(15, 15, 15, 0.384) 100% ,rgba(56, 55, 55, 0.281) 0% ), url('img/p7.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .siete {
    
    background:linear-gradient(90deg,rgba(15, 15, 15, 0.384) 100% ,rgba(56, 55, 55, 0.281) 0% ),url('img/corona.png')   center top no-repeat, 
    url('img/p8.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  @media only screen and (max-width: 500px) {
    .outer-wrapper {
      padding-top: 0px;
      width: 100vw;
      height: 100vh;
      transform: rotate(0deg) translateX(0vh);
      transform-origin: bottom left;
      position: absolute;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 400vh;
      width: 100vw;
      transform: rotate(0deg) translateY(0vh);
      transform-origin: top right;
    }
    .slide {
      width: 100vw;
      height: 100vh;
    }
  }
  
  /*  fondo end   */
  .logo-news{
    width: 200px;
  }
  /*  logo  boton */
.s-1{
    height: 100vh;
}

  .logo-1{
    width: 70vh;
    height: auto;
  }
  @media (max-width: 320px){
    .logo-1{
      width: 50vh !important;
      height: auto;
    }
    .btn-ver-mas{
      font-size: 16px;
    }
  }
  
  @media (max-width: 375px){
    .logo-1{
      width: 50vh !important;
      height: auto;
    }
    .btn-ver-mas{
      font-size: 16px;
    }

  }
  
  @media (max-width: 425px){
    .logo-1{
        margin-top: 182px;
      width: 40vh !important;
      height: auto;
    }
    .btn-ver-mas{
      font-size: 16px;
    }
  }
   /*  logo  boton */
 
  
  .ContenedorUnoPagUno {
    width: 380px;
    height: 528px;
    margin-left: 80px;
    margin-right: -50px;
    
  }
  
  .ContenedorUnoPagUno h1 {
    margin-top: 90px;
    margin-bottom: 0px;
    line-height: 25px;
  }
  
  .ContenedorUnoPagUno h2 {
    margin: 5px 0 0 0;
  }
  
  .ContenedorUnoPagUno p {
    margin-top: 5px;
  }
  
  .ContenedorDosPagUno {
    width: 545px;
    height: 528px;
  }
  
  .ContenedorFlecha {
    position: fixed;
    left: 90vw;
    opacity: 0.25;
  }
  
  /*
  .ContenedorFlecha {
    float: right;
    margin-bottom: -50px;
  }*/
  
  #tercero .ContenedorUno {
    margin-top: 30px;
  }
  
  .ContenedorUno {
    width: 480px;
    height: 528px;
    vertical-align: top;
  }
  
  .ContenedorDos {
    width: 545px;
    height: 528px;
  }
  
  .ContenedorDos img {
    width: 100%;
  }
  
  #segundo .ContenedorUno {
    margin-right: -200px;
    margin-top: 150px;
  }
  
  #segundo .ContenedorUno p:first-of-type {
    width: 415px;
  }
  
  #segundo .ContenedorUno p:last-of-type {
    width: 230px;
  }
  
  #tercero .ContenedorDos img {
    margin-left: 20px;
    width: 85%;
  }
  
  /*------------------------pagina cuatro-------------------------*/
 
  
  #cuarto p {
    font-size: 12px;
  }
  
  #cuarto h1 {
    margin-top: -70px;
    margin-left: -60px;
    margin-bottom: 50px;
  }
  
  #cuarto .ContenedorTres {
    width: 400px;
  }
  
  #cuarto .ContenedorCuatro {
    width: 400px;
    margin-left: 100px;
  }
  
  .doble {
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    margin-left: -60px;
  }
  
  .doble img {
    height: 40px;
    width: 40px;
  }
  
  .doble h2 {
    line-height: 50%;
    margin-left: 10px;
    font-size: 18px;
  }
  
  .ContenedorTres {
    width: 650px;
    height: 528px;
    vertical-align: top;
  }
  
  .ContenedorCuatro {
    width: 650px;
    height: 528px;
    vertical-align: top;
  }
  
  .ContenedorTres p {
    margin-top: -5px;
  }
  
  .ContenedorCuatro p {
    margin-top: 0px;
  }
  
  #cuarto .leermas {
    margin-bottom: 30px;
  }
  
  /*------------------------pagina cuatro fin-------------------------*/
  
  /*------------------------pagina cinco-------------------------*/
 
  
  #cinco p {
    font-size: 12px;
  }
  
  #cinco h1 {
    margin-top: -70px;
    margin-bottom: 50px;
  }
  
  #cinco .ContenedorTres {
    width: 500px;
  }
  
  #cinco .ContenedorCuatro {
    width: 500px;
    margin-left: 100px;
  }
  
  .doble {
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    margin-left: -60px;
  }
  
  .doble img {
    height: 40px;
    width: 40px;
  }
  
  .doble h3 {
    line-height: 50%;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 0;
  }
  
  .ContenedorTres {
    width: 650px;
    height: 528px;
    vertical-align: top;
  }
  
  .ContenedorCuatro {
    width: 650px;
    height: 528px;
    vertical-align: top;
  }
  
  .ContenedorTres p {
    margin-top: -5px;
  }
  
  .ContenedorCuatro p {
    margin-top: 0px;
  }
  
  /*------------------------pagina cinco fin-------------------------*/
  
  .leermas {
    width: 100px;
    background-color: #943951;
    padding: 2px 0px;
    text-align: center;
    border-radius: 12px;
  }
  
  
  .leermas a {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    display: block;
    font-size: 12px;
  }
  
  /*
  .esferaUno {
    padding: 10px 0px 5px 0px;
  
    width: 300px;
  
    float: right;
  }
  .esferaUno h2 {
    margin: 0px 0px 0px 10px;
    font-size: 15px;
    color: #0b1a80;
  }
  
  .esferaUno p {
    margin: 0px 0px 0px 10px;
    text-align: justify;
  }
  
  .esferaUno .leermas {
    margin: 10px 0px 0px 25%;
  }*/
  
 
 
  
  
  
  .video {
    height: 250px;
    display: block;
    width: 400px;
  }
  
  .video a {
    width: 400px;
    display: block;
    color: transparent;
    height: 250px;
  }
  
  .ContenedorSiete {
    width: 33%;
    vertical-align: top;
  }
  
  .ContenedorCinco {
    width: 33%;
    display: flex;
  }
  
  .triple {
    height: 60px;
    display: flex;
  }
  
  .triple img {
    height: 40px;
    width: 40px;
  }
  
  /*-------------------pagina siete--------------------*/
  
  #siete .doble h2 {
    margin-left: 10px;
    font-size: 18px;
    line-height: 130%;
  }
  
  #siete p {
    margin-top: 15px;
    margin-left: 40px;
  }
  
  #siete > div.ContenedorSeis > p {
    margin-top: 15px;
    text-align: right;
    margin-left: 0px;
  }
  .contenedor_siete > div:nth-child(3) {
    margin-left: 38px;
  }
  
  .ContenedorSeis {
    width: 33%;
    height: 52%;
  }
  
  .ContenedorSeis img {
    width: 100%;
  }
  
  .ContenedorSeis p {
    font-size: 16px;
    max-width: 300px;
    float: right;
    margin-top: 0px;
  }
  
  #seis h1 {
    margin-left: -250px;
  }
  
  #seis img {
    margin-right: -160px;
  }
  
  #seis p {
    text-align: center;
  }
  
  .muypronto {
    width: 310px;
    margin: auto;
  }
  
  .muypronto img {
    width: 310px;
  }
  
  .muypronto p {
    font-size: 40px;
    width: 310px;
    text-align: center;
    margin-top: -20px;
  }
  
  /*-------------------pagina siete fin--------------------*/
 
  
  
  
  
  /*----------------responsive--------------------*/
  
  @media only screen and (max-width: 500px) {
   
    h1 {
      font-size: 20px;
      text-align: center !important;
      margin-top: 50px !important;s
    }
  
  
    .doble h2 {
      margin: 0 0 0 20px;
      line-height: 100%;
    }
  
    .doble h3 {
      margin: 0 0 0 20px;
      line-height: 100%;
    }
  
    #primero {
      height: 800px;
      
    }
  
    #segundo {
      height: 800px;
    }
  
    #tercero {
      height: 800px;
    }
  
    #cuarto {
      height: 1200px;
    }
  
    #cinco {
      height: 1200px;
    }
  
    #seis {
      height: 800px;
    }
  
    #siete {
      height: 800px;
    }
  
    .outer-wrapper {
      width: 100%;
      padding-top: 0px;
     
      background-attachment: fixed;
      background-size: 100vw 100vh;
    }
  
    .wrapper {
      background: transparent;
      width: 100%;
    }
  
    .slide {
      display: initial;
    }
  
    
    .ContenedorFlecha {
      display: none;
    }
    #primero {
      width: auto;
    }
  
   #primero .s-1{
    
        margin-top: 0px;
        width: 100vw;
        height: 100vh;
        margin-right: 0px;
        
    
  }

 
   }
    #segundo .ContenedorUno {
      margin-top: 0px;
      width: 100vw;
      height: auto;
      margin-right: 0px;
    }
  
    #segundo .ContenedorUno .leermas {
      margin: 15px;
    }
  
    #segundo .ContenedorUno p:first-of-type {
      width: 90vw;
      margin: auto;
    }
    #segundo .ContenedorUno p:last-of-type {
      width: 90vw;
      margin: auto;
    }
  
    .ContenedorDos {
      width: 90vw;
      margin: auto;
    }
  
    .ContenedorUno {
      width: 90vw;
      margin: auto;
    }
  
    .p {
      width: 100%;
    }
  
    img {
      width: 100%;
    }
  
    #tercero > div.ContenedorDos > img {
      display: none;
    }
  
    #cuarto {
      margin-top: 0px;
    }
  
    #cuarto .ContenedorTres {
      width: 90vw;
      margin: auto;
      height: 600px;
    }
  
    #cuarto .ContenedorCuatro {
      width: 90vw;
      margin: auto;
    }
  
    #cuarto .ContenedorTres h1 {
      margin-left: 0px;
    }
  
    
  
    #cinco .ContenedorTres {
      width: 90vw;
      margin: auto;
      height: 630px;
    }
  
    #cinco .ContenedorCuatro {
      width: 90vw;
      margin: auto;
    }
  
   
  
    
  
    #seis h1 {
      margin-left: 0px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    
  
    .ContenedorSiete {
      width: 90vw;
      margin: auto;
    }
  
    .ContenedorCinco {
      width: 90vw;
      margin: auto;
    }
  
    .esferaDos {
      margin-left: 0px;
    }
  
    .ContenedorSeis {
      width: 90vw;
      height: auto;
      padding: 0px;
      margin: auto;
      margin-top: 100px;
      text-align: left;
    }
  
    .ContenedorSeis p {
      font-size: 16px;
      max-width: 90vw;
      float: none;
      margin-left: 0px !important;
    }
  
    .doble {
      height: auto;
    }
    .contenedor_siete {
      width: 100%;
      float: initial;
      margin-bottom: 50px;
    }
    #cuarto h1 {
      margin-top: 0px;
    }
  }
  /*----------------responsive--------------------*/

  /* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 620px;
    margin: 5vh auto 0 auto;
    align-self: center;
  }
  
  
  
  /* Blockquote header */
  .blockquote h1 {
    font-family: 'Abril Fatface', cursive;
    position: relative; /* for pseudos */
    color: #ec3030;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.226);
    border: 2px solid #fff;
    border: solid 2px;
    border-radius:20px;
    padding: 25px;
  }
  
  /* Blockquote right double quotes */
  .blockquote h1:after {
    content:"";
    position: absolute;
    border: 2px solid #e74848;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3; 
  }
  
  .blockquote h1:before {
    content:"";
    position: absolute;
    width: 80px;
    
    bottom: -3px;
    left: 50px;
    z-index: 2;
  }
  
  /* increase header size after 600px */
  @media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 3rem;
        line-height: 1.2;
   }
  
   #three p{
    font-size: 3rem;
    line-height: 1.2;
   }
   #four p{
    font-size: 3rem;
    line-height: 1.2;
   }
   #six p{
    font-size: 3rem;
    line-height: 1.2;
   }
  
  }
  @media all and (max-width: 600px) {
    .blockquote h1 {
      margin-top: 15px;
        font-size: 1.5rem;
        line-height: 1.2;
   }
   #three p{
     margin-top: 15px;
    font-size: 1.5rem;
    line-height: 1.2;
   }
   #four p{
    margin-top: 15px;
   font-size: 1.5rem;
   line-height: 1.2;
  }
  #six p{
    margin-top: 15px;
   font-size: 1.5rem;
   line-height: 1.2;
  }
  }
  
  /* Blockquote subheader */
  .blockquote h4 {
    position: relative;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left:150px;
    padding-left:12px;
  }
  
  
  .blockquote h4:first-letter {
  margin-left:-12px;
  }

  @media (max-width: 425px){
    
    #two .ver-mas{
      position: absolute;
      top: 494px !important;
    }
    #five .ver-mas{
      position: absolute;
      top: 494px !important;
    }
    #five img{
  
      position: relative;
      top: 44px !important;
      }
  }
  
  @media (max-width: 320px){
   
  
    #tow .blockquote{
      height: 50%;
    }
    #two .ver-mas{
      position: absolute;
      top: 482px !important;
    }
    #five .ver-mas{
      position: absolute;
      top: 478px !important;
    }
    #five img{
  
      position: relative;
      top: 44px !important;
      }
  }
  
  
  @media (max-width: 991px)
  {
    .contenedor {
      position: absolute;
      display: flex;
      flex-direction: column;
      height: auto;
      transform: none !important;
    }
  }
  
  /* scrool */
 
  #five .ver-mas{
    position: absolute;
    top:  443px;
    z-index: 4;
  }
  
  #five img{
  
  position: relative;
  top: 130px;
  }
  .btn-ver-mas {
    background-color: #ec3030;
    border: none;
    color: white;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
    border-radius: 20px;
    letter-spacing: 2px;
  }
  #three p{
    font-family: 'Abril Fatface', cursive;
    text-align: left;  
    color: #ec3030;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.226);
    
  }
  #four p{
    font-family: 'Abril Fatface', cursive;
    text-align: left;  
    color: #ec3030;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.226);
    
  }
  #six p{
    font-family: 'Abril Fatface', cursive;
    text-align: left;  
    color: #ec3030;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.226);
    
  }
  .logo-1{
    width: 70vh;
    height: auto;
  }
  
  @media (max-width: 320px){
    .logo-1{
      width: 40vh;
      height: auto;
    }
    .btn-ver-mas{
      font-size: 16px;
    }
  }
  
  @media (max-width: 375px){
    .logo-1{
      width: 40vh;
      height: auto;
    }
    .btn-ver-mas{
      font-size: 16px;
    }
  }
  
  @media (max-width: 425px){
    .logo-1{
      width: 40vh;
      height: auto;
    }
    .btn-ver-mas{
      font-size: 16px;
    }
  }
  
  /* Blockquote main style */
  .blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 620px;
    margin: 5vh auto 0 auto;
    align-self: center;
  }
  
  
  
  /* Blockquote header */
  .blockquote h1 {
    font-family: 'Abril Fatface', cursive;
    position: relative; /* for pseudos */
    color: #ec3030;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.226);
    border: 2px solid #fff;
    border: solid 2px;
    border-radius:20px;
    padding: 25px;
  }
  
  /* Blockquote right double quotes */
  .blockquote h1:after {
    content:"";
    position: absolute;
    border: 2px solid #e74848;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3; 
  }
  
  .blockquote h1:before {
    content:"";
    position: absolute;
    width: 80px;
    
    bottom: -3px;
    left: 50px;
    z-index: 2;
  }
  
  /* increase header size after 600px */
  @media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 3rem;
        line-height: 1.2;
   }
  
   #three p{
    font-size: 3rem;
    line-height: 1.2;
   }
   #four p{
    font-size: 3rem;
    line-height: 1.2;
   }
   #six p{
    font-size: 3rem;
    line-height: 1.2;
   }
  
  }
  @media all and (max-width: 600px) {
    .blockquote h1 {
      margin-top: 15px;
        font-size: 1.5rem;
        line-height: 1.2;
   }
   #three p{
     margin-top: 15px;
    font-size: 1.5rem;
    line-height: 1.2;
   }
   #four p{
    margin-top: 15px;
   font-size: 1.5rem;
   line-height: 1.2;
  }
  #six p{
    margin-top: 15px;
   font-size: 1.5rem;
   line-height: 1.2;
  }
  }
  
  /* Blockquote subheader */
  .blockquote h4 {
    position: relative;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left:150px;
    padding-left:12px;
  }
  
  
  .blockquote h4:first-letter {
  margin-left:-12px;
  }
  
  .fredy-1{
    /* position: relative; */
    /* top: 200px; */
    height: auto;
    width: 70vw;
  }
  